target-version = "py311"
exclude = ["generate_report.py", "examples/", ".build"]

[format]
docstring-code-format = true

[lint]
select = [
    "A",
    "ANN",
    "ARG",
    "B",
    "C4",
    "COM",
    "D",
    "DTZ",
    "E",
    "EM",
    "F",
    "FBT",
    "G",
    "INP",
    "ISC",
    "LOG",
    "N",
    "PT",
    "RET",
    "S",
    "SLF",
    "SIM",
    "TID",
]

ignore = ["COM812", "ISC001", "PT023", "PT001"]


[lint.per-file-ignores]
# We disable most of the rules for tests. There are a few things we do need to keep us sane though.
"tests/**/*" = ["ANN", "D", "S", "SLF", "INP001"]

[lint.pydocstyle]
convention = "numpy"